[Unit]
Description=Run BTC trading SNS access token refresh weekly on Monday at 05:00

[Timer]
OnCalendar=Mon *-*-* 05:00:00
Persistent=true

[Install]
WantedBy=timers.target
